body {
    width: 100%;
    margin: 0;
}

.container {

}

#navigation-top {
	border-bottom: 1px solid #eee;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #555;
}

.btn {
    display: block;
    padding: 10px;
    border-radius: 999px;
}

.btn:hover {
    background-color: #eee;
}

.icon.rounded {
    border-radius: 50%;
    padding: 4px 7px;
    background-color: #ccc;
}

a.btn {
    text-decoration: none;
    color: #555;
}


#navigation-top > * {
    display: flex;
    justify-content: center;
}

#logo {
	flex: 1 1 70px;
}

#logo img{
	max-height: 37px;
}

.search-btn-wrapper {
    flex: 1 1 calc((100% - 70px) * 0.33);
    text-align: center;
}

.search-btn {
    width: 40px;
    display: inline-block;
}

#navigation-top.open {
    height: 100px;
}

#navigation-top .search-wrapper {
    flex: 1 1 calc((100% - 70px) * 0.33);
    display: none;
    padding: 0 5px;
}

#navigation-top.open .search-wrapper{
    order: 5;
    display: block;
}

#navigation-top .home-btn-wrapper {
    flex: 1 1 calc((100% - 70px) * 0.33);
}

@media (max-width: 475px) {
    #navigation-top .home-btn-wrapper{
        display: none;
    }
}

#navigation-top .profile-btn-wrapper {
    flex: 1 1 calc((100% - 70px) * 0.33);
}

#navigation-top .profile-btn-wrapper .username {
    display: none;
}


@media (min-width: 768px) {
    #navigation-top{
        flex-wrap: nowrap;
    }

    #navigation-top.open {
        height: 60px;
    }

    #navigation-top .search-btn-wrapper {
       display: none;
    }

    #navigation-top .search-wrapper,  #navigation-top.open .search-wrapper{
        flex: 1 1 calc((100% - 70px) * 0.66);
        display: block;
        order: initial;
    }

    #navigation-top .home-btn-wrapper {
        flex: 1 1 calc((100% - 70px) * 0.2);
    }

    #navigation-top .profile-btn-wrapper .username {
        display: inline;
        padding-left: 5px;
    }

}

.search-container {
    position: relative;
}

.search-container .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.search-container .icon.left {
    left: 0;
}

.search-container .icon.right {
    right: 0;
}

.search-container input{
    padding-left: 40px;
	width: 100%;
    background-color: #eee;
    color: #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: none;
    height: 42px;
    outline: none;
    font-size: 16px;
}

.grid {
    margin: 0 auto;
}

.grid-sizer, .grid-item {
    width: 260px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.grid-item:hover {
    background-color: #eee;
}

.grid-item img {
    border-radius: 10px;
    transform: translate(15px, 10px);
    display: block;
    width: 230px;
}

.grid-item .img-description {
    transform: translate(15px, -2px);
}

.img-description .author {
    display: block;
    font-weight: 700;
    margin-top: 3px;
}